/**
*
* Typography function, which validates and calculates responsive ratios for each typography break point, using previously generated responsive ratios.
*
* Number of ratios - `$typeBpsRatios` has to be eqaul to a number of typography breakpoints - `$typeBps`.
*
* @group Type
*
* @author Vova Skok
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_typeSetResponsiveFunction.scss
*
* @param {Number | List} $typeBps - responsive ratios or ratio
* @param {Number | List} $typeBpsRatios - responsive break point or break points
*
* @require val
* @require sl-walk
* @require sl-sort
* @require map-set
* @require typeSetResponsiveRatios
*
* @throw `$typeBpsRatios` - is not a list with positive numbers or a number
*
* @return {List}
*
* @todo Add variant for single `$typeBps` and `typeBpsRatios` calculation, rename => typeSetResponsive
*
*/

@function typeSetResponsive($typeBps, $typeBpsRatios) {

	@if length($typeBps) == length($typeBpsRatios) and
		length($typeBps) == 1 and
		val($typeBps, measurePositive) and
		val($typeBpsRatios, positive) {

		@debug "There is a single break point - measurePositive and a single break point ratio - positive";

		@return "typeSetResponsive - 1";

	} @else if length($typeBps) == length($typeBpsRatios) and
	 	length($typeBps) > 1 and
	 	val($typeBps, list) and
		index(sl-walk($typeBps, val, measurePositive), false) != true and
		$typeBps == sl-sort($typeBps) and
		val($typeBpsRatios, list) and
		index(sl-walk($typeBpsRatios, val, number), false) != true and
		$typeBpsRatios == sl-sort($typeBpsRatios) {

			$typeSetResponsive: () !global;

			@for $i from 1 through length($typeBpsRatios) {
				$ratioBp: nth(typeSetResponsiveRatios($typeBpsRatios), $i) !global;
				$typeSetResponsiveBp: typeSet($typeBase * $ratioBp, $typeIndexBegin, $typeIndexEnd, $typeSizeRatio, $typeLineHeightRatio, $typePaddingRatio, $typeLetterSpacingRatio);
				$typeSetResponsive: map-set($typeSetResponsive, $i, $typeSetResponsiveBp) !global;

			}

			@debug "There are multiple break points with positiveMeasure values and break point ratios with positive values and they are all properly sorted";

			@return $typeSetResponsive;

	} @else {

		@error "Number of break points and number of break points ratios has to be equal";

	}

}
