/**
*
* Typography mixin, which generates `font-size`, `line-height`, `letter-spacing` and `padding` for each break point.
*
* @group Type
*
* @author Vova Skok
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_typeSetResponsiveMixin.scss
*
* @param {Number} $scale - typography scale set index
*
* @require map-get
*
* @todo Add scale validation, check if $typeSetResponsive exists, add @require
*
*/

@mixin typeSetResponsive($scale) {

	@for $i from 1 through length($typeBps) {
		$value: map-get($typeSetResponsive, $i);
		$font-size: nth($value, 1);
		$line-height: nth($value, 2);
		$letter-spacing: nth($value, 3);
		$padding: nth($value, 4);

		@media (min-width: nth($typeBps, $i)) {
			font-size: nth($font-size, $scale);
			line-height: nth($line-height, $scale);
			letter-spacing: nth($letter-spacing, $scale);
			padding: nth($padding, $scale);
		}
	}

}
