%typeStyleHeader {
	font-family: unquote($fontFamilyHeaderName);
}

%typeStyleHeaderAlt {
	font-family: unquote($fontFamilyHeaderAltName);
}

%typeStyleHeader,
%typeStyleHeaderAlt {
	color: #333;
}

%typeStyleText {
	font-family: unquote($fontFamilyTextName);
}

%typeStyleTextAlt {
	font-family: unquote($fontFamilyTextAltName);
}

%typeStyleText,
%typeStyleTextAlt {
	color: #111;
}

%typeStyleItalic {
	font-style: italic;
}

%typeStyleBold {
	font-weight: bold;
}

%typeStyleLight {
	font-weight: lighter;
}

%typeStyleLetterSpacingReset {
	letter-spacing: 0;
}

%typeStyleTextShadow {
	text-shadow: 1px 1px 0 #000;
}

%typeStyleTextShadowAlt {
	text-shadow: 1px 1px 0 #fff;
}
