@function getTypeSet($typeBase, $typeIndexStart, $typeIndexEnd, $typeSizeRatio, $typeLineHeightRatio, $typePaddingRatio, $typeLetterSpacingRatio) {

	@if not val($typeBase, measurePositive) {
		@error #{$typeBase} " is not a measure!";
	}

	@if not val($typeSizeRatio, positive) and $typeSizeRatio > 1 {
		@error #{$typeSizeRatio} " is not a positive integer or float, which is more than 1 !";
	}

	@if not val($typeLineHeightRatio, positive) and $typeSizeRatio > 1 {
		@error #{$typeLineHeightRatio} " is not positive and more than 1 !";
	}

	@if not val($typeLetterSpacingRatio, number) and $typeLetterSpacingRatio != 0 {
		@error #{$typeLetterSpacingRatio} " is not measure or equals 0 !";
	}

	@if not val($typePaddingRatio, number) and $typePaddingRatio > 0 {
		@error #{$typePaddingRatio} " is not measure or equals 0 !";
	}


	@if not val($typeIndexEnd, positive) and val($typeIndexEnd, integer) {
		@error #{$typeIndexEnd} " is not a positive integer !";
	}

	@if (val($typeIndexStart, negative) and val($typeIndexStart, integer) or $typeIndexStart == 0) and $typeIndexStart < $typeIndexEnd {

		// Validating and rounding each value in $fontSize
		// add multiple possible truthy values
		$fontSize: ms-list($typeIndexStart, $typeIndexEnd, $typeBase, $typeSizeRatio);
		@if index($typeRound, fontSize) or
			index($typeRound, font-size) or
			index($typeRound, size) {

			$fontSize: sl-walk($fontSize, round);

		}

		$lineHeight: sl-walk($fontSize, multiply, $typeLineHeightRatio);
		@if index($typeRound, lineHeight) or
			index($typeRound, line-height) {

			$lineHeight: sl-walk($lineHeight, round);

		}

		// Validating and rounding each value in $letterSpacing
		// add multiple possible truthy values
		$letterSpacing: sl-walk($fontSize, multiply, $typeLetterSpacingRatio);
		@if index($typeRound, letterSpacing) or
			index($typeRound, letter-spacing) {

			$letterSpacing: sl-walk($letterSpacing, round);

		}

		$fontPadding: sl-walk($fontSize, multiply, $typePaddingRatio);
		$fontPadding: sl-walk($fontPadding, divide, 2);

		@if index($typeRound, fontPadding) or
			index($typeRound, padding) or
			index($typeRound, font-padding) {

			$fontPadding: sl-walk($fontPadding, round);

		}

		$fontPadding: sl-walk($fontPadding, append, 0);

		@return $fontSize, $lineHeight, $letterSpacing, $fontPadding;

	} @else {
		@error #{$typeIndexStart} " is not 0 or a negative integer !";
	}

	@error "Something went wrong!";

	@return false;

};

$typeSet: getTypeSet($typeBase, $typeIndexStart, $typeIndexEnd, $typeSizeRatio, $typeLineHeightRatio, $typePaddingRatio, $typeLetterSpacingRatio);

$fontSize: nth($typeSet, 1);
$lineHeight: nth($typeSet, 2);
$letterSpacing: nth($typeSet, 3);
$fontPadding: nth($typeSet, 4);
