$base: 						map-get($typography, base);
$index: 					map-get($typography, index);
$length: 					map-get($typography, length);
$fontSizeRatio: 			map-get($typography, fontSizeRatio);
$lineHeightRatio:			map-get($typography, lineHeightRatio);
$marginRatio: 				map-get($typography, marginRatio);

@function font-size-sequence($length, $base, $common-ratio, $index) {
	$sequence: ($base);
	@if $index == 0 {
		$sequence: $base;
	}
	@if $index < 0 {
		@for $i from $index through $length - -$index {
			@if $i < 0 {
				$new:nth($sequence, length($sequence)) / $common-ratio;
	    		$sequence: append($sequence, $new);
	    		$sequence-in-progress: $sequence;
			}
			@if $i == 0 {
				$sequence: append($sequence, $base);
			}
			@if $i > 0 {
				$new: nth($sequence, length($sequence)) * $common-ratio;
				$sequence: append($sequence, $new);
			}
	  	}
	}
	@if $index > 0 {
	  	@for $i from $index through $length {
	    	$new: nth($sequence, length($sequence)) * $common-ratio;
	    	$sequence: append($sequence, $new);
	  	}
	}
  	@return $sequence;
}

@function line-height-ratio-sequence($value, $lineHeightRatio) {
	@return $value * $lineHeightRatio;
}

@function margin-ratio-sequence($value, $marginRatio) {
	@return $value * $marginRatio / 2;
}

$font-size-sequence-beta: sl-unique(sl-sort(font-size-sequence($length, $base, $fontSizeRatio, $index)));
$font-size-sequence: sl-walk($font-size-sequence-beta, round);

$line-height-sequence-beta: sl-walk($font-size-sequence, line-height-ratio-sequence, $lineHeightRatio);
$line-height-sequence: sl-walk($line-height-sequence-beta, round);

$margin-sequence-beta: sl-walk($font-size-sequence, margin-ratio-sequence, $marginRatio);
$margin-sequence: sl-walk($margin-sequence-beta, round);
