$base: 						map-get($typography, base);
$exponential: 				map-get($typography, exponential);
$common-ratio: 				map-get($typography, common-ratio);
$index: 					map-get($typography, index);
$line-height-ratio:			map-get($typography, line-height-ratio);
$desktop-ratio: 			map-get($typography, desktop-ratio);
$margin-ratio: 				map-get($typography, margin-ratio);


@function font-size-sequence($exponential, $base, $common-ratio, $index) {
	$sequence: ($base);
	@if $index == 0 {
		$sequence: $base;
	}
	@if $index < 0 {
		@for $i from $index through $exponential - -$index {
			@if $i < 0 {
				$new:nth($sequence, length($sequence)) / $common-ratio;
	    		$sequence: append($sequence, $new);
	    		$sequence-in-progress: $sequence;
			}
			@if $i == 0 {
				$sequence: append($sequence, $base);
			}
			@if $i > 0 {
				$new: nth($sequence, length($sequence)) * $common-ratio;
				$sequence: append($sequence, $new);
			}
	  	}
	}
	@if $index > 0 {
	  	@for $i from $index through $exponential {
	    	$new: nth($sequence, length($sequence)) * $common-ratio;
	    	$sequence: append($sequence, $new);
	  	}
	}
  	@return $sequence;
}

@function line-height-ratio-sequence($value, $line-height-ratio) {
	@return $value * $line-height-ratio;
}

@function margin-ratio-sequence($value, $margin-ratio) {
	@return $value * $margin-ratio / 2;
}

$font-size-sequence-beta: sl-unique(sl-sort(font-size-sequence($exponential, $base, $common-ratio, $index)));
$font-size-sequence: sl-walk($font-size-sequence-beta, round);

$line-height-sequence-beta: sl-walk($font-size-sequence, line-height-ratio-sequence, $line-height-ratio);
$line-height-sequence: sl-walk($line-height-sequence-beta, round);

$margin-sequence-beta: sl-walk($font-size-sequence, margin-ratio-sequence, $margin-ratio);
$margin-sequence: sl-walk($margin-sequence-beta, round);
