
/*====================================
=            Break points            =
====================================*/

$breakpoints: (
	xs:   					250px,
	sm:   					300px,
	md:   					450px,
	lg:   					650px,
	xl:   					900px,
	xxl: 					1200px
);

/*-----  End of Break points  ------*/





/*===============================
=            Margins            =
===============================*/

$margins: (
	Xs:   					5px,
	Sm:   					10px,
	Md:   					15px,
	Lg:   					20px,
	Xl:   					25px,
	Xxl: 					30px
);

$marginDirections: (
	base: 					"",
	top: 					"Top",
	right: 					"Right",
	bottom: 				"Bottom",
	left: 					"Left"
);

/*-----  End of Margins  ------*/





/*================================
=            Paddings            =
================================*/

$paddings: (
	Xs:   					5px,
	Sm:   					10px,
	Md:   					15px,
	Lg:   					20px,
	Xl:   					25px,
	Xxl: 					30px
);

$paddingDirections: (
	base: 					"",
	top: 					"Top",
	right: 					"Right",
	bottom: 				"Bottom",
	left: 					"Left"
);

/*-----  End of Paddings  ------*/





/*=============================
=            Fonts            =
=============================*/

$fontFamilies: (
	header: 				Roboto,
	headerAlt:  			Nunito,
	headerBold: 			(Roboto: 700),
	headerLight: 			(Roboto: 300),
	headerItalic: 			"Roboto: 400, italic",
	text: 					Open Sans,
	textAlt: 				Dosis,
	textBold: 				(Open Sans: 700),
	textLight: 				(Open Sans: 300),
	textItalic: 			"Open Sans: 400, italic"
);

/*-----  End of Fonts  ------*/





/*=========================================
=            Font Family Names            =
=========================================*/

$fontFamilyNames: (
	header: 				"Roboto, sans-serif",
	headerAlt: 				"Nunito, sans-serif",
	text: 					"Open Sans, sans-serif",
	textAlt: 				"Dosis, sans-serif"
);

/*-----  End of Font Family Names  ------*/







/*==================================
=            Typography            =
==================================*/

$typography: (
	base: 					24px,
	index: 					-2,
	length: 				8,
	fontSizeRatio: 			1.4,
	fontLineHeightRatio: 	1.1,
	fontPaddingRatio: 		1.1,
	fontLetterSpacingRatio: -.02
);

/*-----  End of Typography  ------*/

