/*===============================
=            Margins            =
===============================*/

$marginXs:  	map-get($margins, Xs);
$marginSm:  	map-get($margins, Sm);
$marginMd:  	map-get($margins, Md);
$marginLg:  	map-get($margins, Lg);
$marginXl:  	map-get($margins, Xl);
$marginXxl: 	map-get($margins, Xxl);

/*-----  End of Margins  ------*/

