/*===============================
=           Paddings            =
===============================*/

$paddingXs:  					map-get($paddings, Xs);
$paddingSm:  					map-get($paddings, Sm);
$paddingMd:  					map-get($paddings, Md);
$paddingLg:  					map-get($paddings, Lg);
$paddingXl:  					map-get($paddings, Xl);
$paddingXxl: 					map-get($paddings, Xxl);

/*-----  End of Paddings  ------*/
