/**
*
* Google Web Fonts string implode function.
*
* @group WebFonts
*
* @author Vova Skok
*
* @require val
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_typeSetWebFontsFunction.scss
*
* @param {List | String} $list - string to replace
* @param {String} $separator - list seperator
*
* @return {String}
*
* @throw $list was not validated as a list or a string
*
*/

@function webFontsImplode($list, $separator: ',') {

	@if index(val($list, list) val($list, string), true) {
		$string: '';

		@for $i from 1 through length($list) {

			$el: nth($list, $i);
			$string: $string + $el;

			@if ($i < length($list)) {
				$string: $string + $separator;
			}

		}

		@return $string;

	} @else {

		@error #{$list} " - $list was not validated as a list or a string";

	}

}
