$grid: (
	columns: 					12,
	breakpoints: 				auto,
	bpXs: 						320px,
	bpSm: 						480px,
	bpMd: 						620px,
	bpLg: 						768px,
	bpXl: 						960px,
	bpXxl: 						1200px,
	containerXs: 				300px,
	containerSm: 				450px,
	containerMd: 				600px,
	containerLg: 				750px,
	containerXl: 				900px,
	containerXxl: 				1050px,
	containerFluid: 			1200px,
	gutters: 					fluid,
	baseGutter: 				5px,
	defaultGutter: 				15px,
	ratio: 						auto,
	round: 						true,
	output: 					responsive,
	debug: 						true
);

@mixin columns($grid: $grid) {
	// add map validation
	@if exists(grid, var) {

		@warn "$Grid exists::::::::::::::::::::::::::::::::::::";

		// add map validation
		@if exists(breakpoints, var) {

			@warn "$breakpoints exists and is a valid map ::::::::::::::";

		} @else {

			@warn "$breakpoints doesn't exists or is not a valid map ::::::::::";

		}

		// } @else if map-get-key(breakpoints) == static {

		// 	// do something else

		// } @else {

		// 	@error "something";

		// }

		// @if map-get-key(ratio) == auto {

				// 	// do something

			// }

		// } @else if val(ratio, num) {

		// 	// do something else

		// } @else {

		// 	@error "something";

		// }

		@if val(map-get($grid, columns), number) and
			val(map-get($grid, baseGutter), measure) and
			val(map-get($grid, defaultGutter), measure) {

				@warn "SUCCESS::::::::::::::::::::::::::::::::::::";
				// @debug map-get($grid, columns);
				// @debug map-get($grid, baseGutter);
				// @debug map-get($grid, defaultGutter);


		} @else {

			@warn "Not valid map key values";
			// @debug map-get($grid, columns);
			// @debug map-get($grid, baseGutter);
			// @debug map-get($grid, defaultGutter);

		}

	} @else {

		@error $grid "map doesn't exist!";

	}

}

@include columns;
