@import "_rows.scss";
@import "_grids.scss";
@import "_containers.scss";
@import "_offsets.scss";
@import "_pushes.scss";
@import "_pulls.scss";

//   gutter-position: inside static,

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: 1200px,
  container-position: center,
  columns: 12,
  gutters: .5,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

$susy2: (
  gutters: 2.5
);

@include layout($susy2);

.wrapper {
	@include container();
}

main {
	background-color: #eee;

	@include span(8);
}

aside {
	background-color: #999;

	ul {
		background-color: lightblue;
	}

	@include span(4 at 9);
}

// if output style is responsive, than
// include different gutter sizes for different
// breakpoints, pulling gutter value from
// generated modular scale list of values

// @include span(8 at 0 of 12 5px);
// @include span(8 at 0 of 12 10px);
// @include span(8 at 0 of 12 15px);
// @include span(8 at 0 of 12 20px);
// @include span(8 at 0 of 12 25px);
// @include span(8 at 0 of 12 30px);
