/*====================================
=            Break points            =
====================================*/

$breakpoints: (
	xs:   					250px,
	sm:   					300px,
	md:   					450px,
	lg:   					650px,
	xl:   					900px,
	xxl: 					1200px
);

/*-----  End of Break points  ------*/



/*===============================
=            Margins            =
===============================*/

$margins: (
	Xs:   					5px,
	Sm:   					10px,
	Md:   					15px,
	Lg:   					20px,
	Xl:   					25px,
	Xxl: 					30px
);

$marginDirections: (
	base: 					"",
	top: 					"Top",
	right: 					"Right",
	bottom: 				"Bottom",
	left: 					"Left"
);

/*-----  End of Margins  ------*/



/*================================
=            Paddings            =
================================*/

$paddings: (
	Xs:   					5px,
	Sm:   					10px,
	Md:   					15px,
	Lg:   					20px,
	Xl:   					25px,
	Xxl: 					30px
);

$paddingDirections: (
	base: 					"",
	top: 					"Top",
	right: 					"Right",
	bottom: 				"Bottom",
	left: 					"Left"
);

/*-----  End of Paddings  ------*/




/*==================================
=            Typography            =
==================================*/

$type: (
	indexBegin: 			-2,
	indexEnd: 				6,
	base: 					16px,
	sizeRatio: 				1.5,
	lineHeightRatio: 		1.5,
	paddingRatio: 			1.5,
	letterSpacingRatio: 	-.025,
	outputStyle: 			responsive,
	bps: 					(320px 480px 768px 960px 1140px),
	bpsRatios: 				(1.1 1.1 1.1 1.1 1.1),
	liquidRatio: 			1.5,
	liquidBps: 				(300px 400px),
	round: 					(fontSize, lineHeight, padding),
	webFonts: (
		header: 				"Roboto",
		headerBold: 			"Roboto: 700",
		headerLight: 		  	"Roboto: 300",
		headerItalic: 			"Roboto: 400, italic",
		headerAlt:  			"Nunito",
		text: 					"Open Sans",
		textBold: 				"Open Sans: 700",
		textLight: 				"Open Sans: 300",
		textItalic: 			"Open Sans: 400, italic",
		textAlt: 				"Dosis"
	),
	fontFamilies: (
		header: 				"Roboto, serif",
		headerAlt: 				"Nunito, serif",
		text: 					"Open Sans, sans-serif",
		textAlt:  				"Dosis, sans-serif"
	)
);

/*-----  End of Typography  ------*/




/*============================
=            Grid            =
============================*/

$grid: (
	bpXs: 						map-get($breakpoints, xs),
	bpSm: 						map-get($breakpoints, sm),
	bpMd: 						map-get($breakpoints, md),
	bpLg: 						map-get($breakpoints, lg),
	bpXl: 						map-get($breakpoints, xl),
	bpXxl: 						map-get($breakpoints, xxl),
	containerXs: 				300px,
	containerSm: 				450px,
	containerMd: 				600px,
	containerLg: 				750px,
	containerXl: 				900px,
	containerXxl: 				1050px,
	containerFluid: 			1200px,
	base: 						5px,
	ratio: 						map-get($type, sizeRatio),
	round: 						true,
	outputStyle: 				responsive,

	flow: ltr,
	math: fluid,
	output: float,
	gutter-position: split,
	container: 1200px,
	container-position: center,
	columns: 12,
	gutters: .5,
	column-width: false,
	global-box-sizing: content-box,
	last-flow: to,
	debug: (
	  image: hide,
	  color: rgba(#66f, .25),
	  output: background,
	  toggle: top right
	),
	use-custom: (
	  background-image: true,
	  background-options: false,
	  box-sizing: true,
	  clearfix: false,
	  rem: true
	)
);

/*-----  End of Grid  ------*/

