/*====================================
=            Break points            =
====================================*/

$breakpoints: (
	xs:   					250px,
	sm:   					300px,
	md:   					450px,
	lg:   					650px,
	xl:   					900px,
	xxl: 					1200px
);

/*-----  End of Break points  ------*/



/*===============================
=            Margins            =
===============================*/

$margins: (
	Xs:   					5px,
	Sm:   					10px,
	Md:   					15px,
	Lg:   					20px,
	Xl:   					25px,
	Xxl: 					30px
);

$marginDirections: (
	base: 					"",
	top: 					"Top",
	right: 					"Right",
	bottom: 				"Bottom",
	left: 					"Left"
);

/*-----  End of Margins  ------*/



/*================================
=            Paddings            =
================================*/

$paddings: (
	Xs:   					5px,
	Sm:   					10px,
	Md:   					15px,
	Lg:   					20px,
	Xl:   					25px,
	Xxl: 					30px
);

$paddingDirections: (
	base: 					"",
	top: 					"Top",
	right: 					"Right",
	bottom: 				"Bottom",
	left: 					"Left"
);

/*-----  End of Paddings  ------*/




/*==================================
=            Typography            =
==================================*/

$type: (
	indexBegin: 			-2,
	indexEnd: 				6,
	base: 					16px,
	sizeRatio: 				1.5,
	lineHeightRatio: 		1.5,
	paddingRatio: 			1.5,
	letterSpacingRatio: 	-.025,
	outputStyle: 			responsive,
	bps: 					320px 480px 768px 960px 1140px,
	bpsRatios: 				1.1 1.1 1.1 1.1 1.1,
	liquidRatio: 			1.5,
	liquidBps: 				(300px 400px),
	round: 					(fontSize, lineHeight, padding),
	webFonts: (
		header: 				"Roboto",
		headerBold: 			"Roboto: 700",
		headerLight: 		  	"Roboto: 300",
		headerItalic: 			"Roboto: 400, italic",
		headerAlt:  			"Nunito",
		text: 					"Open Sans",
		textBold: 				"Open Sans: 700",
		textLight: 				"Open Sans: 300",
		textItalic: 			"Open Sans: 400, italic",
		textAlt: 				"Dosis"
	),
	fontFamilies: (
		header: 				"Roboto, serif",
		headerAlt: 				"Nunito, serif",
		text: 					"Open Sans, sans-serif",
		textAlt:  				"Dosis, sans-serif"
	)
);

/*-----  End of Typography  ------*/




/*============================
=            Grid            =
============================*/

$grid: (
	columns: 					12,
	bp-value-flow: 				true,
	ms: 						true,
	ms-base: 					5px,
	ms-ratio: 					1.5,
	ms-round: 					true,
	space-units: 				5px 10px 15px 20px 25px 30px,
	space-unit-fallback: 		15px,
	containers: 				300px 450px 600px 700px 900px 1100px,
	containers-fluid: 			400px 550px 700px 800px 1000px 1200px,
	bp-class-names: 			'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
	space-unit-class-names: 	'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
	direction-class-names: 		'before' 'after',
	gutter-class-name: 			'gutters',
	row-class-name: 			'row',
	container-class-name: 		'container',
	container-fluid-class-name: 'container-fluid',
	debug: 						false
);
