@mixin typography($fontSize, $fontFamily, $color: "", $lineHeight: "", $fontPadding: "", $letterSpacing: "", $fontStyle: "") {

/*==========  Typography Base Placeholder Matching  ==========*/


	@if $fontSize == "xs" {

		@extend %typography-base-xs;

	}

	@else if $fontSize == "sm" {

		@extend %typography-base-sm;

	}

	@else if $fontSize == "md" {

		@extend %typography-base-md;

	}

	@else if $fontSize == "lg" {

		@extend %typography-base-lg;

	}

	@else if $fontSize == "xl" {

		@extend %typography-base-xl;

	}

	@else if $fontSize == "xxl" {

		@extend %typography-base-xxl;

	}

	@else if $fontSize == "xxxl" {

		@extend %typography-base-xxxl;

	}

	@else if $fontSize == "larger" {

		@extend %typography-base-larger;

	}


	@else if $fontSize == "largest" {

		@extend %typography-base-largest;

	}



	@else {

		padding: unquote($fontPadding) 0;
		font-size: $fontSize;
		font-family: $fontFamily;
		line-height: unquote($lineHeight);
		letter-spacing: unquote($letterSpacing);
		color:  unquote($color);
		font-style: unquote($fontStyle);
	}

// /*==========  Typography Base Font Family Matching  ==========*/

	@if $fontFamily == "header" {

		@extend %typography-base-header;

	}

	@else if $fontFamily == "headerAlt" {

		@extend %typography-base-header-alt;

	}

	@else if $fontFamily == "text" {

		@extend %typography-base-text;

	}

	@else if $fontFamily == "textAlt" {

		@extend %typography-base-text-alt;

	}

	@else {

		padding: unquote($fontPadding) 0;
		font-size: $fontSize;
		font-family: $fontFamily;
		line-height: unquote($lineHeight);
		letter-spacing: unquote($letterSpacing);
		color:  unquote($color);
		font-style: unquote($fontStyle);
	}


}
