@mixin web-fonts($fonts...) {

	$web-fonts-protocol: '' !default;
	$protocol: $web-fonts-protocol;

	@if str-length($protocol) > 0 {
		$protocol: $protocol + ':';
	}

	$url: "#{$protocol}//fonts.googleapis.com/css?family=";
	$url: $url + wf-serialize($fonts);

	@import url($url);

}
