.Grid-gutter--xs {
	padding-left: gutter();
	padding-right: gutter();
}

.Grid-gutter--xsBefore {
	padding-left: gutter();
	padding-right: 0;
}

.Grid-gutter--xsAfter {
	padding-left: 0;
	padding-right: gutter();
}

.Grid-gutter--sm {
	padding-left: round(ms(1, gutter(), 1.5));
	padding-right: round(ms(1, gutter(), 1.5));
}

.Grid-gutter--smBefore {
	padding-left: round(ms(1, gutter(), 1.5));
	padding-right: 0;
}

.Grid-gutter--smAfter {
	padding-left: 0;
	padding-right: round(ms(1, gutter(), 1.5));
}

.Grid-gutter--md {
	padding-left: round(ms(2, gutter(), 1.5));
	padding-right: round(ms(2, gutter(), 1.5));
}

.Grid-gutter--mdBefore {
	padding-left: round(ms(3, gutter(), 1.5));
	padding-right: 0;
}

.Grid-gutter--mdAfter {
	padding-left: 0;
	padding-right: round(ms(3, gutter(), 1.5));
}

.Grid-gutter--lg {
	padding-left: round(ms(4, gutter(), 1.5));
	padding-right: round(ms(4, gutter(), 1.5));
}

.Grid-gutter--lgBefore {
	padding-left: round(ms(4, gutter(), 1.5));
	padding-right: 0;
}

.Grid-gutter--lgAfter {
	padding-left: 0;
	padding-right: round(ms(4, gutter(), 1.5));
}

.Grid-gutter--xl {
	padding-left: round(ms(5, gutter(), 1.5));
	padding-right: round(ms(5, gutter(), 1.5));
}

.Grid-gutter--xlBefore {
	padding-left: round(ms(5, gutter(), 1.5));
	padding-right: 0;
}

.Grid-gutter--xlAfter {
	padding-left: 0;
	padding-right: round(ms(5, gutter(), 1.5));
}

.Grid-gutter--xxl {
	padding-left: round(ms(6, gutter(), 1.5));
	padding-right: round(ms(6, gutter(), 1.5));
}

.Grid-gutter--xxlBefore {
	padding-left: round(ms(6, gutter(), 1.5));
	padding-right: 0;
}

.Grid-gutter--xxlAfter {
	padding-left: 0;
	padding-right: round(ms(6, gutter(), 1.5));
}

.Grid-gutter--reset {
	padding-left: 0;
	padding-right: 0;
}

.Grid-gutter--resetBefore {
	padding-left: 0;
}

.Grid-gutter--resetAfter {
	padding-right: 0;
}
