[class^='Grid-row--'],
[class*='Grid-row--'] {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

.Grid-row--fluid {
	margin-left: - gutter();
	margin-right: - gutter();

	@include bp(sm) {
		margin-left: - round(ms(1, gutter(), 1.5));
		margin-right: - round(ms(1, gutter(), 1.5));
	}

	@include bp(md) {
		margin-left: - round(ms(2, gutter(), 1.5));
		margin-right: - round(ms(2, gutter(), 1.5));
	}

	@include bp(lg) {
		margin-left: - round(ms(3, gutter(), 1.5));
		margin-right: - round(ms(3, gutter(), 1.5));
	}

	@include bp(xl) {
		margin-left: - round(ms(4, gutter(), 1.5));
		margin-right: - round(ms(4, gutter(), 1.5));
	}

	@include bp(xxl) {
		margin-left: - round(ms(5, gutter(), 1.5));
		margin-right: - round(ms(5, gutter(), 1.5));
	}
}

.Grid-row--xs {
	margin-left: - gutter();
	margin-right: - gutter();
}

.Grid-row--xsBefore {
	margin-left: - gutter();
	margin-right: 0;
}

.Grid-row--xsAfter {
	margin-left: 0;
	margin-right: - gutter();
}

.Grid-row--sm {
	margin-left: - round(ms(1, gutter(), 1.5));
	margin-right: - round(ms(1, gutter(), 1.5));
}

.Grid-row--smBefore {
	margin-left: - round(ms(1, gutter(), 1.5));
	margin-right: 0;
}

.Grid-row--smAfter {
	margin-left: 0;
	margin-right: - round(ms(1, gutter(), 1.5));
}

.Grid-row--md {
	margin-left: - round(ms(2, gutter(), 1.5));
	margin-right: - round(ms(2, gutter(), 1.5));
}
.Grid-row--mdBefore {
	margin-left: - round(ms(2, gutter(), 1.5));
	margin-right: 0;
}
.Grid-row--mdAfter {
	margin-left: 0;
	margin-right: - round(ms(2, gutter(), 1.5));
}

.Grid-row--lg {
	margin-left: - round(ms(3, gutter(), 1.5));
	margin-right: - round(ms(3, gutter(), 1.5));
}

.Grid-row--lgBefore {
	margin-left: - round(ms(3, gutter(), 1.5));
	margin-right: 0;
}

.Grid-row--lgAfter {
	margin-left: 0;
	margin-right: - round(ms(3, gutter(), 1.5));
}

.Grid-row--xl {
	margin-left: - round(ms(4, gutter(), 1.5));
	margin-right: - round(ms(4, gutter(), 1.5));
}

.Grid-row--xlBefore {
	margin-left: - round(ms(4, gutter(), 1.5));
	margin-right: 0;
}
.Grid-row--xlAfter {
	margin-left: 0;
	margin-right: - round(ms(4, gutter(), 1.5));
}

.Grid-row--xxl {
	margin-left: - round(ms(5, gutter(), 1.5));
	margin-right: - round(ms(5, gutter(), 1.5));
}

.Grid-row--xxlBefore {
	margin-left: - round(ms(5, gutter(), 1.5));
	margin-right: 0;
}

.Grid-row--xxlAfter {
	margin-left: 0;
	margin-right: - round(ms(5, gutter(), 1.5));
}

.Grid-row--reset {
	margin-left: 0;
	margin-right: 0;
}

.Grid-row--resetBefore {
	margin-left: 0;
}

.Grid-row--resetAfter {
	margin-right: 0;
}
