.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 $paddingXl;
	max-width: 1440px;

	background-color: $colorGrey100;

	@include clearfix;

	// @include bp(sm) {
	// 	background-color: $colorGrey600;
	// }

	// @include bp(md) {
	// 	background-color: $colorGrey700;
	// }

	// @include bp(lg) {
	// 	background-color: $colorGrey800;
	// }

	// @include bp(xl) {
	// 	background-color: $colorGrey900;
	// }

	// @include bp(xxl) {
	// 	background-color: #000;
	// }

}
