.Grid-colPush--1of12 {
	left: span(1);
}

.Grid-colPush--2of12 {
	left: span(2);
}

.Grid-colPush--3of12 {
	left: span(3);
}

.Grid-colPush--4of12 {
	left: span(4);
}

.Grid-colPush--5of12 {
	left: span(5);
}

.Grid-colPush--6of12 {
	left: span(6);
}

.Grid-colPush--7of12 {
	left: span(7);
}

.Grid-colPush--8of12 {
	left: span(8);
}

.Grid-colPush--9of12 {
	left: span(9);
}

.Grid-colPush--10of12 {
	left: span(10);
}

.Grid-colPush--11of12 {
	left: span(11);
}

.Grid-colPush--12of12 {
	left: span(12);
}



.Grid-sm-colPush--1of12 {
	@include bp(sm) {
		left: span(1);
	}
}

.Grid-sm-colPush--2of12 {
	@include bp(sm) {
		left: span(2);
	}
}

.Grid-sm-colPush--3of12 {
	@include bp(sm) {
		left: span(3);
	}
}

.Grid-sm-colPush--4of12 {
	@include bp(sm) {
		left: span(4);
	}
}

.Grid-sm-colPush--5of12 {
	@include bp(sm) {
		left: span(5);
	}
}

.Grid-sm-colPush--6of12 {
	@include bp(sm) {
		left: span(6);
	}
}

.Grid-sm-colPush--7of12 {
	@include bp(sm) {
		left: span(7);
	}
}

.Grid-sm-colPush--8of12 {
	@include bp(sm) {
		left: span(8);
	}
}

.Grid-sm-colPush--9of12 {
	@include bp(sm) {
		left: span(9);
	}
}

.Grid-sm-colPush--10of12 {
	@include bp(sm) {
		left: span(10);
	}
}

.Grid-sm-colPush--11of12 {
	@include bp(sm) {
		left: span(11);
	}
}

.Grid-sm-colPush--12of12 {
	@include bp(sm) {
		left: span(12);
	}
}



.Grid-md-colPush--1of12 {
	@include bp(md) {
		left: span(1);
	}
}

.Grid-md-colPush--2of12 {
	@include bp(md) {
		left: span(2);
	}
}

.Grid-md-colPush--3of12 {
	@include bp(md) {
		left: span(3);
	}
}

.Grid-md-colPush--4of12 {
	@include bp(md) {
		left: span(4);
	}
}

.Grid-md-colPush--5of12 {
	@include bp(md) {
		left: span(5);
	}
}

.Grid-md-colPush--6of12 {
	@include bp(md) {
		left: span(6);
	}
}

.Grid-md-colPush--7of12 {
	@include bp(md) {
		left: span(7);
	}
}

.Grid-md-colPush--8of12 {
	@include bp(md) {
		left: span(8);
	}
}

.Grid-md-colPush--9of12 {
	@include bp(md) {
		left: span(9);
	}
}

.Grid-md-colPush--10of12 {
	@include bp(md) {
		left: span(10);
	}
}

.Grid-md-colPush--11of12 {
	@include bp(md) {
		left: span(11);
	}
}

.Grid-md-colPush--12of12 {
	@include bp(md) {
		left: span(12);
	}
}



.Grid-lg-colPush--1of12 {
	@include bp(lg) {
		left: span(1);
	}
}

.Grid-lg-colPush--2of12 {
	@include bp(lg) {
		left: span(2);
	}
}

.Grid-lg-colPush--3of12 {
	@include bp(lg) {
		left: span(3);
	}
}

.Grid-lg-colPush--4of12 {
	@include bp(lg) {
		left: span(4);
	}
}

.Grid-lg-colPush--5of12 {
	@include bp(lg) {
		left: span(5);
	}
}

.Grid-lg-colPush--6of12 {
	@include bp(lg) {
		left: span(6);
	}
}

.Grid-lg-colPush--7of12 {
	@include bp(lg) {
		left: span(7);
	}
}

.Grid-lg-colPush--8of12 {
	@include bp(lg) {
		left: span(8);
	}
}

.Grid-lg-colPush--9of12 {
	@include bp(lg) {
		left: span(9);
	}
}

.Grid-lg-colPush--10of12 {
	@include bp(lg) {
		left: span(10);
	}
}

.Grid-lg-colPush--11of12 {
	@include bp(lg) {
		left: span(11);
	}
}

.Grid-lg-colPush--12of12 {
	@include bp(lg) {
		left: span(12);
	}
}



.Grid-xl-colPush--1of12 {
	@include bp(xl) {
		left: span(1);
	}
}

.Grid-xl-colPush--2of12 {
	@include bp(xl) {
		left: span(2);
	}
}

.Grid-xl-colPush--3of12 {
	@include bp(xl) {
		left: span(3);
	}
}

.Grid-xl-colPush--4of12 {
	@include bp(xl) {
		left: span(4);
	}
}

.Grid-xl-colPush--5of12 {
	@include bp(xl) {
		left: span(5);
	}
}

.Grid-xl-colPush--6of12 {
	@include bp(xl) {
		left: span(6);
	}
}

.Grid-xl-colPush--7of12 {
	@include bp(xl) {
		left: span(7);
	}
}

.Grid-xl-colPush--8of12 {
	@include bp(xl) {
		left: span(8);
	}
}

.Grid-xl-colPush--9of12 {
	@include bp(xl) {
		left: span(9);
	}
}

.Grid-xl-colPush--10of12 {
	@include bp(xl) {
		left: span(10);
	}
}

.Grid-xl-colPush--11of12 {
	@include bp(xl) {
		left: span(11);
	}
}

.Grid-xl-colPush--12of12 {
	@include bp(xl) {
		left: span(12);
	}
}



.Grid-xxl-colPush--1of12 {
	@include bp(xxl) {
		left: span(1);
	}
}

.Grid-xxl-colPush--2of12 {
	@include bp(xxl) {
		left: span(2);
	}
}

.Grid-xxl-colPush--3of12 {
	@include bp(xxl) {
		left: span(3);
	}
}

.Grid-xxl-colPush--4of12 {
	@include bp(xxl) {
		left: span(4);
	}
}

.Grid-xxl-colPush--5of12 {
	@include bp(xxl) {
		left: span(5);
	}
}

.Grid-xxl-colPush--6of12 {
	@include bp(xxl) {
		left: span(6);
	}
}

.Grid-xxl-colPush--7of12 {
	@include bp(xxl) {
		left: span(7);
	}
}

.Grid-xxl-colPush--8of12 {
	@include bp(xxl) {
		left: span(8);
	}
}

.Grid-xxl-colPush--9of12 {
	@include bp(xxl) {
		left: span(9);
	}
}

.Grid-xxl-colPush--10of12 {
	@include bp(xxl) {
		left: span(10);
	}
}

.Grid-xxl-colPush--11of12 {
	@include bp(xxl) {
		left: span(11);
	}
}

.Grid-xxl-colPush--12of12 {
	@include bp(xxl) {
		left: span(12);
	}
}
