p {

	@extend %typography-base-md;

	@extend %typography-base-text-alt;

}

h6, .h6 {

	@extend %typography-base-sm;

}

h5, .h5 {

	@extend %typography-base-md;

}

h4,	.h4 {

	@extend %typography-base-lg;

}

h3, .h3 {

	@extend %typography-base-xl;

}

h2, .h2 {

	@extend %typography-base-xxl;

}

h1, .h1 {

	@extend %typography-base-xxxl;

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@extend %typography-base-header-alt;
}

blockquote {
	margin: $marginXl 0;
	background-color: $colorGrey200;
	border: 1px solid $colorGrey300;
	border-left: 5px solid $colorPink700;
	padding: $paddingXxl $paddingMd;

	> p {
		text-shadow: 0 1px 0 #fff;
	}

}
