p {
	font-size: 		$font-size-md;
	line-height: 	$line-height-md;
	margin: 		$text-margin-md;
}


h6, .h6 {
	font-size: 		$font-size-sm;
	line-height: 	$line-height-sm;
	margin: 		$text-margin-sm;
}

h5, .h5 {
	font-size: 		$font-size-md;
	line-height: 	$line-height-md;
	margin: 		$text-margin-md;

	// @include bp(md) { font-size: $font-size-md * $desktop-ratio; }
}

h4,	.h4 {
	font-size: 		$font-size-lg;
	line-height: 	$line-height-lg;
	margin: 		$text-margin-lg;

}

h3, .h3 {
	font-size: 		$font-size-xl;
	line-height: 	$line-height-xl;
	margin: 		$text-margin-xl;
}

h2, .h2 {
	font-size: 		$font-size-xxl;
	line-height: 	$line-height-xxl;
	margin: 		$text-margin-xxl;
}

h1, .h1 {
	font-size: 		$font-size-xxxl;
	line-height: 	$line-height-xxxl;
	margin: 		$text-margin-xxxl;
}

.font-size-smaller {
	font-size: 		$font-size-sm;
	line-height: 	$line-height-sm;
	margin: 		$text-margin-sm;
}

.font-size-smallest {
	font-size: 		$font-size-xs;
	line-height: 	$line-height-xs;
	margin: 		$text-margin-xs;
}

.font-size-larger {
	font-size: 		$font-size-larger;
	line-height: 	$line-height-larger;
	margin: 		$text-margin-larger;
}

.font-size-largest {
	font-size: 		$font-size-largest;
	line-height: 	$line-height-largest;
	margin: 		$text-margin-largest;
}
