/*============================================================
=            Stored values from root _config.scss            =
============================================================*/

$typeBase: 					map-get($type, base);
$typeIndexStart: 			map-get($type, indexStart);
$typeIndexEnd: 				map-get($type, indexEnd);
$typeSizeRatio: 			map-get($type, sizeRatio);
$typeLineHeightRatio: 		map-get($type, lineHeightRatio);
$typePaddingRatio: 			map-get($type, paddingRatio);
$typeLetterSpacingRatio: 	map-get($type, letterSpacingRatio);
$typeOutputStyle: 			map-get($type, outputStyle);
$typeBps:	 				map-get($type, bps);
$typeBpsRatios: 			map-get($type, bpsRatios);
$typeLiquidRatio: 			map-get($type, liquidRatio);
$typeRound: 				map-get($type, round);

/*-----  End of Stored values from root _config.scss  ------*/



/*===================================
=      Font Family Configs          =
===================================*/

$fontFamilyHeader: 			map-get($fontFamilies, header);
$fontFamilyHeaderAlt: 		map-get($fontFamilies, headerAlt);
$fontFamilyHeaderBold: 		map-get($fontFamilies, headerBold);
$fontFamilyHeaderLight: 	map-get($fontFamilies, headerLight);
$fontFamilyHeaderItalic: 	map-get($fontFamilies, headerItalic);

$fontFamilyText: 			map-get($fontFamilies, text);
$fontFamilyTextAlt: 		map-get($fontFamilies, textAlt);
$fontFamilyTextBold: 		map-get($fontFamilies, textBold);
$fontFamilyTextLight: 		map-get($fontFamilies, textLight);
$fontFamilyTextItalic: 		map-get($fontFamilies, textItalic);

/*-----  End of Font Family Configs  ------*/



/*=========================================
=            Font Family Names            =
=========================================*/

$fontFamilyHeaderName: 		map-get($fontFamilyNames, header);
$fontFamilyHeaderAltName:   map-get($fontFamilyNames, headerAlt);
$fontFamilyTextName:		map-get($fontFamilyNames, text);
$fontFamilyTextAltName:		map-get($fontFamilyNames, textAlt);

/*-----  End of Font Family Names  ------*/
