@function getTypeSetResponsiveRatios($value) {

	$length: length($value);
	$typeSetResponsiveRatios: nth($value, 1);

	// $typeBpsRatios deep validation
	@if val($value, list) {
		@debug #{$typeBpsRatios} "was validated as a list";

		@for $n from 1 through $length {
			@if val(nth($value, $n), positive) {
				@debug "Each value of "#{$typeBpsRatios} "was validated as a number";

				@for $i from 1 through $length {

					@if $i == 1 {
						$typeSetResponsiveRatios: nth($value, 1);
					} @else {
						$newValue: nth($value, $i) * nth($typeSetResponsiveRatios, length($typeSetResponsiveRatios));
						$typeSetResponsiveRatios: append($typeSetResponsiveRatios, $newValue);
					}
				}

				@return $typeSetResponsiveRatios;
			}
		}

	} @else if val($value, positive) {

		@return $value;

	} @else {
		@debug #{$typeBpsRatios} "was NOT validated as a list with positive numbers";
	}

	@error "Something went really wrong";
	@return false;
};

.RESPONSIVE_RATIOS {
	content: #{getTypeSetResponsiveRatios($typeBpsRatios)};
}
