// $grid: (
// 	output: 					auto,
// 	columns: 					12,
// 	bp-names: 					'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
// 	bp-values: 					320px 480px 620px 768px 960px 1120px,
// 	gutter-base: 				5px,
// 	gutter-ratio: 				1.5,
// 	gutter-default: 			15px,
// 	gutter-names: 				'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
// 	gutter-values: 				5px 10px 15px 20px 25px 30px,
// 	container-names: 			'xs' 'sm' 'md' 'lg' 'xl' 'xxl' 'fluid',
// 	container-values: 			300px 450px 600px 700px 900px 1100px 1200px,
// 	round: 						true,
// 	row-names: 					'xs' 'sm' 'md' 'lg' 'xl' 'xxl',
// 	row-values: 				-5px -10px -15px -20px -25px -30px,
// 	debug: 						true
// );

// $susy: (
//   flow: ltr,
//   math: fluid,
//   output: float,
//   gutter-position: inside-static,
//   container: 1200px,
//   container-position: center,
//   columns: 12,
//   gutters: .1 * 2,
//   column-width: 50px,
//   last-flow: to,
//   debug: (
//     image: show,
//     color: rgba(red, .25),
//     output: background,
//     toggle: top right,
//   ),
//   use-custom: (
//     background-image: true,
//     background-options: false,
//     box-sizing: true,
//     clearfix: false,
//     rem: true,
//   )
// );


@function grid-gutters-auto-output($var) {

	$susy-column-width: map-get($var, gutter-base) * 10;
	$susy-gutters: strip-units(map-get($var, gutter-base)) * .04 ;

	@if val($susy-gutters, integer) {
		$susy-gutters: $susy-gutters / 10;
	}

	@debug $susy-gutters;
	@debug $susy-column-width;

	@return true;

}
