/**
*
* Google Web Fonts string implode function.
*
* @group Type
*
* @author Vova Skok
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_typeSetWebFontsFunction.scss
*
* @require wf-str-replace
*
* @param {List | String} $list - string to replace
* @param {String} $separator - list seperator
*
* @return {String}
*
*/

@function wf-implode($list, $separator: ',') {

	$string: '';

	@for $i from 1 through length($list) {

		$el: nth($list, $i);
		$string: $string + $el;

		@if ($i < length($list)) {
			$string: $string + $separator;
		}

	}

	@return $string;

}
