/**
*
* Google Web Fonts string serialize function.
*
* @group Type
*
* @author Vova Skok
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_typeSetWebFontsFunction.scss
*
* @param {List | String} $fonts - list or string of fonts
*
* @require webFontsSerialize
* @require webFontsImplode
* @require webFontsStringReplace
* @require webFontsURLEncode
*
* @throw Unsupported font type
*
* @return {String}
*
*/

@function webFontsSerialize($fonts) {

	@if type-of($fonts) == 'list' or type-of($fonts) == 'arglist' {
		$serialized: ();

		@each $font in $fonts {
			$serialized: append($serialized, webFontsSerialize($font));
		}

		@return webFontsImplode($serialized, '|');

	}

	@if type-of($fonts) == 'map' {

		$serialized: ();

		@each $family, $variants in $fonts {
			$variants: webFontsImplode($variants, ',');
			$variants: webFontsStringReplace($variants, ' ', '');
			$serialized: append($serialized, "#{$family}:#{$variants}");
		}

		@return webFontsSerialize($serialized);

	}

	@if type-of($fonts) == 'string' {

		@return webFontsURLEncode($fonts);

	}

	@warn "Unsupported font type: #{type-of($fonts)}";

}
