/**
*
* Typography mixin, which outputs Google Web Fonts.
*
* @group Type
*
* @author Vova Skok
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_webFontsMixin.scss
*
* @param {List | String} $fonts - font or list of fonts
*
* @require wf-serialize
*
* @todo Add validation, check if wf-serialize funciton exists
*
*/

@mixin webFonts($fonts...) {
	$webFontsProtocol: '' !default;
	$protocol: $webFontsProtocol;

	@if str-length($protocol) > 0 {
		$protocol: $protocol + ':';
	}

	$url: "#{$protocol}//fonts.googleapis.com/css?family=";
	$url: $url + webFontsSerialize($fonts);

	@import url($url);

}
