/**
*
* Google Web Fonts string replacing function.
*
* @group WebFonts
*
* @author Vova Skok
*
* @link https://github.com/SassySuit/sassySuit/blob/master/tools/type/_typeSetWebFontsFunction.scss
*
* @param {String} $string - string to replace
* @param {String} $find - string to find
* @param {String} $replace - string to replace
*
* @require webFontsStringReplace
* @require val
*
* @return {String}
*
* @throw `$string` - is not a string
* @throw `$find` - is not a find
* @throw `$replace` - is not a replace
*
*/

@function webFontsStringReplace($string, $find, $replace, $all: true) {

	@if val($string, string) and val($find, string) and val($replace, string) {
			$index: str-index($string, $find);

			@if $index {
				$before: str-slice($string, 1, $index - 1);
				$after: str-slice($string, $index + str-length($find), str-length($string));
				$string: $before + $replace + $after;

				@if $all and not str-index($find, $replace) {
					$string: webFontsStringReplace($string, $find, $replace);
				}

			}

		@return $string;

	}	@else if not val($string, string) {

			@error #{$string} " - `$string` is not a string !";

	}	@else if not val($replace, string) {

			@error #{$replace} " - `$replace` is not a string !";

	} 	@else {

			@error #{$find} " - `$find` is not a string !";

	}

}
