$typographyResponsiveBase: (

    padding  		: ( $fontPaddingXs,
    					$fontPaddingSm,
    					$fontPaddingMd,
    					$fontPaddingLg,
    					$fontPaddingXl,
    					$fontPaddingXxl,
    					$fontPaddingXxxl,
    					$fontPaddingLarger,
    					$fontPaddingLargest ),

    font-size  		: ( $fontSizeXs,
    					$fontSizeSm,
    					$fontSizeMd,
    					$fontSizeLg,
    					$fontSizeXl,
    					$fontSizeXxl,
    					$fontSizeXxxl,
    					$fontSizeLarger,
    					$fontSizeLargest ),

    line-height  	: ( $fontLineHeightXs,
    					$fontLineHeightSm,
    					$fontLineHeightMd,
    					$fontLineHeightLg,
    					$fontLineHeightXl,
    					$fontLineHeightXxl,
    					$fontLineHeightXxxl,
    					$fontLineHeightLarger,
    					$fontLineHeightLargest ),

    letter-spacing  : ( $fontLetterSpacingXs,
						$fontLetterSpacingSm,
						$fontLetterSpacingMd,
						$fontLetterSpacingLg,
						$fontLetterSpacingXl,
						$fontLetterSpacingXxl,
						$fontLetterSpacingXxxl,
						$fontLetterSpacingLarger,
						$fontLetterSpacingLargest )

);
