@function base-set-checker($baseSetPlaceholder) {

	@if $baseSetPlaceholder == xs {

		$n: 1;

		@return $n;

	}

	@else if $baseSetPlaceholder == sm {

		$n: 2;

		@return $n;

	}

	@else if $baseSetPlaceholder == md {

		$n: 3;

		@return $n;

	}

	@else if $baseSetPlaceholder == lg {

		$n: 4;

		@return $n;

	}

	@else if $baseSetPlaceholder == xl {

		$n: 5;

		@return $n;

	}

	@else if $baseSetPlaceholder == xxl {

		$n: 6;

		@return $n;

	}

	@else if $baseSetPlaceholder == xxxl {

		$n: 7;

		@return $n;

	}

	@else if $baseSetPlaceholder == larger {

		$n: 8;

		@return $n;

	}

	@else if $baseSetPlaceholder == largest {

		$n: 9;

		@return $n;

	}

	@else {
		@debug "Check $baseSetPlaceholder name";
	}

}
