/*============================================================
=            Stored values from root _config.scss            =
============================================================*/

$typoBase: 					map-get($typo, base);
$typoIndexStart: 			map-get($typo, indexStart);
$typoIndexEnd: 				map-get($typo, indexEnd);
$typoSizeRatio: 			map-get($typo, sizeRatio);
$typoLineHeightRatio: 		map-get($typo, lineHeight);
$typoPaddingRatio: 			map-get($typo, paddingRatio);
$typoLetterSpacingRatio: 	map-get($typo, leterSpacingRatio);
$typoOutputStyle: 			map-get($typo, outputStyle);
$typoBps:	 				map-get($typo, bps);
$typoBpsRatioList: 			map-get($typo, bpsRatios);
$typoLiquidRatio: 			map-get($typo, liquidRatio);

/*-----  End of Stored values from root _config.scss  ------*/



/*===================================
=      Font Family Configs          =
===================================*/

$fontFamilyHeader: 			map-get($fontFamilies, header);
$fontFamilyHeaderAlt: 		map-get($fontFamilies, headerAlt);
$fontFamilyHeaderBold: 		map-get($fontFamilies, headerBold);
$fontFamilyHeaderLight: 	map-get($fontFamilies, headerLight);
$fontFamilyHeaderItalic: 	map-get($fontFamilies, headerItalic);

$fontFamilyText: 			map-get($fontFamilies, text);
$fontFamilyTextAlt: 		map-get($fontFamilies, textAlt);
$fontFamilyTextBold: 		map-get($fontFamilies, textBold);
$fontFamilyTextLight: 		map-get($fontFamilies, textLight);
$fontFamilyTextItalic: 		map-get($fontFamilies, textItalic);

/*-----  End of Font Family Configs  ------*/



/*=========================================
=            Font Family Names            =
=========================================*/

$fontFamilyHeaderName: 		map-get($fontFamilyNames, header);
$fontFamilyHeaderAltName:   map-get($fontFamilyNames, headerAlt);
$fontFamilyTextName:		map-get($fontFamilyNames, text);
$fontFamilyTextAltName:		map-get($fontFamilyNames, textAlt);

/*-----  End of Font Family Names  ------*/



/*==============================================
=            Font responsive values            =
==============================================*/

$fontBreakpoints: 			map-get($typo, fontBreakpoints);
$fontResponsiveRatios: 		map-get($typo, fontBreakpointsRatios);

/*-----  End of Font responsive values  ------*/
