$baseSize: 16px;
$liquidWidth: 900; // разница между $bpMax и $bpMin
$liquidRatio: map-get($typography, liquidRatio); // 2

$mediaRatio: ($liquidRatio / $liquidWidth) + 1; // 2/300px + 1


@function seqLiquidRatios($baseSize, $mediaRatio, $liquidWidth) {

	$seqLiquidRatios: $baseSize;
	$seqLiquid: unquote("");

	@for $i from 1 through $liquidWidth - 1 {

		@if $i == 1 {
			$seqLiquid: $baseSize;
		}

		@if $i > 1 {
			$newValue: nth($seqLiquidRatios, length($seqLiquidRatios)) * $mediaRatio;

			$seqLiquid: append($seqLiquidRatios, $newValue);
		}

	}
	// $seqLiquidRatios: remove($seqLiquidRatios, 1);

	@return $seqLiquid;
}

$seqLiquidRatios: seqLiquidRatios($baseSize, $mediaRatio, $liquidWidth);

.aaaa {
	content: "#{$seqLiquidRatios}";
}
