@function calc-responsive-ratios($seq) {

	// Add error handling for correct values

	$length: length($seq);
	$newSeq: null;

	@for $i from 1 through $length {

		@if $i == 1 {

			$newSeq: nth($seq, 1);

		}

		$newValue: nth($seq, $i) * nth($newSeq, length($newSeq));
		$newSeq: append($newSeq, $newValue);

	}

	$newSeq: sl-remove-nth($newSeq, length($newSeq));

		@return $newSeq;

};
