p {

	@include typography-base(md, text);

}

h6, .h6 {

	@include typography-base(sm, header);

}

h5, .h5 {

	@include typography-base(md, header);

}

h4,	.h4 {

	@include typography-base(lg, header);

}

h3, .h3 {

	@include typography-base(xl, header);

}

h2, .h2 {

	@include typography-base(xxl, header);

}

h1, .h1 {

	@include typography-base(xxxl, header);

}

blockquote {
	margin: 30px 0;
	background-color: $colorGrey200;
	border-left: 5px solid $colorPink700;


	> p {
		padding: 30px 15px;
		text-shadow: 0 1px 0 #fff;
		border: 1px solid $colorGrey300;
	}

}



/*=============================
=            Lists            =
=============================*/

ul,
ol {

	@include typography-base(md, text);

	padding-left: 30px;
}

.List--inlined {
	@include list-inlined;
}

.List--unstyled {
	@include list-unstyled;
}


/*-----  End of Lists  ------*/





/*=========================================
=            Temporary classes            =
=========================================*/


.typography {

	@include typography-base(xl, header);

}

/*-----  End of Temporary classes  ------*/

