// Alignment

.u-textLeft {
	text-align: left;
}

.u-textRight {
	text-align: right;
}

.u-textCenter {
	text-align: center;
}

.u-textJustify {
	text-align: justify;
}

.u-textNowrap {
	white-space: nowrap;
}

// Transformation

.u-textLowercase {
	text-transform: lowercase;
}

.u-textUppercase {
	text-transform: uppercase;
}

.u-textCapitalize {
	text-transform: capitalize;
}
