/*============================================================
=            Stored values from root _config.scss            =
============================================================*/

$typeBase: 					map-get($type, base);
$typeIndexStart: 			map-get($type, indexStart);
$typeIndexEnd: 				map-get($type, indexEnd);
$typeSizeRatio: 			map-get($type, sizeRatio);
$typeLineHeightRatio: 		map-get($type, lineHeightRatio);
$typePaddingRatio: 			map-get($type, paddingRatio);
$typeLetterSpacingRatio: 	map-get($type, letterSpacingRatio);
$typeOutputStyle: 			map-get($type, outputStyle);
$typeBps:	 				map-get($type, bps);
$typeBpsRatios: 			map-get($type, bpsRatios);
$typeLiquidRatio: 			map-get($type, liquidRatio);
$liquidBps: 				map-get($type, liquidBps);
$typeRound: 				map-get($type, round);

/*-----  End of Stored values from root _config.scss  ------*/



/*===================================
=      Font Family Configs          =
===================================*/

$fontFamilyHeader: 			map-get-deep($type, webFonts header);
$fontFamilyHeaderAlt: 		map-get-deep($type, webFonts headerAlt);
$fontFamilyHeaderBold: 		map-get-deep($type, webFonts headerBold);
$fontFamilyHeaderLight: 	map-get-deep($type, webFonts headerLight);
$fontFamilyHeaderItalic: 	map-get-deep($type, webFonts headerItalic);

$fontFamilyText: 			map-get-deep($type, webFonts text);
$fontFamilyTextAlt: 		map-get-deep($type, webFonts textAlt);
$fontFamilyTextBold: 		map-get-deep($type, webFonts textBold);
$fontFamilyTextLight: 		map-get-deep($type, webFonts textLight);
$fontFamilyTextItalic: 		map-get-deep($type, webFonts textItalic);

/*-----  End of Font Family Configs  ------*/



/*=========================================
=            Font Family Names            =
=========================================*/

$fontFamilyHeaderName: 		map-get-deep($type, fontFamilies header);
$fontFamilyHeaderAltName:   map-get-deep($type, fontFamilies headerAlt);
$fontFamilyTextName:		map-get-deep($type, fontFamilies text);
$fontFamilyTextAltName:		map-get-deep($type, fontFamilies textAlt);

/*-----  End of Font Family Names  ------*/
