///
/// Function for calculating element's span width value,
///
/// proportional to the global layout value
///
/// @group grid
///
/// @param {num} $columns - number of columns
/// @param {bool} $positive (true) - switcher for negative width output
/// @param {map} $layout ($grid) - global number of columns in a layout
///

@function span($columns, $positive: true, $layout: $grid) {
	@if exists(grid-validation, function) and grid-validation($layout) {
		$layout: map-get($layout, columns);
		$width: ($columns / $layout) * 100%;
		@if not $positive {
			$width: $width * -1;
		}

		@if $columns > $layout {

			@warn '`span`\'s value is greater than global `$layout`\'s value. It might cause layout bugs!';

		}

		@debug $width;

		@return $width;

	} @else {
		@error '`grid-validation` function doesn\'t exist or invalid';
	}
}

eee {
	content: span(1, false);
}
