///
/// Mixin for generating gutters
///
/// Output of gutter classes depends on global configuration
///
/// @group grid
///
/// @param {map} layout ($grid) Map for storing grid configurations
///
/// @throw "#{$layout} is invalid argument for `grid-space-units` function"
///
/// @todo use BEM tool and SASS 3.4 selector function
///
/// [Selector Functions](http://sass-lang.com/documentation/Sass/Script/Functions.html)
///
/// [Blog post on Selector Functions](http://www.phase2technology.com/blog/everything-you-need-to-know-about-sass-3-4/)
///

@mixin gutters($layout: $grid) {
	@if exists(grid-space-units, mixin) {
		// outputs generated $grid-space-units - global variable
		@include grid-space-units($layout);
		$direction-output: map-get($layout, direction-output);
		$values: map-get($layout, values);
		$bp-value-flow: map-get($layout, bp-value-flow);
		$direction-output: map-get($layout, direction-output);
		$sizing-output: map-get($layout, sizing-output);
		$bp-output: map-get($layout, bp-output);
		$bp-class-names: map-get($layout, bp-class-names);
		$space-unit-class-names: map-get($layout, space-unit-class-names);
		$direction-class-names: map-get($layout, direction-class-names);
		$gutter-class-name: map-get($layout, gutter-class-name);
		$block-class-name: map-get($layout, block-class-name);

		$length: length(map-keys($breakpoints));

		@debug $direction-output 		'direction-output';
		@debug $values 					'value';
		@debug $bp-value-flow 			'bp-value-flow';
		@debug $direction-output 		'direction-output';
		@debug $sizing-output 			'sizing-output';
		@debug $bp-output 				'bp-output';
		@debug $bp-class-names 			'bp-class-names';
		@debug $space-unit-class-names 	'space-unit-class-names';
		@debug $direction-class-names 	'direction-class-names';
		@debug $gutter-class-name 		'gutter-class-name';
		@debug $block-class-name 		'block-class-name';
		@debug $length					'length';

		@if $values == 'space-unit-fallback' {
			@include b($block-class-name) {
				@include e($gutter-class-name) {
					padding-left: $grid-space-units;
					padding-right: $grid-space-units;

					@if $direction-output {
						@include m(nth($direction-class-names, 1)) {
							padding-left: $grid-space-units;
						}
						@include m(nth($direction-class-names, 2)) {
							padding-right: $grid-space-units;
						}
					}
				}
			}
		}
		@if index('space-units' 'ms', $values) {

			@if $bp-output {
				@if $sizing-output and not $direction-output {
					.g-xs__gutter-xs {
						// padding-left: nth($grid-space-units, 1);
						// padding-right: nth($grid-space-units, 1);
					}
					.g-sm__gutter-xs {
						// @include bp(sm) {
							// padding-left: nth($grid-space-units, 1);
							// padding-right: nth($grid-space-units, 1);
						// }
					}
					// ...
					.g-xs__gutter-xxl {
						// padding-left: nth($grid-space-units, last($grid-space-units));
						// padding-right: nth($grid-space-units, last($grid-space-units));
					}
					.g-sm__gutter-xxl {
						// @include bp(sm) {
							// padding-left: nth($grid-space-units, last($grid-space-units));
							// padding-right: nth($grid-space-units, last($grid-space-units));
						// }
					}
					// Other breakpoints
					// ...
				}

				@if $direction-output and not $sizing-output {
					.g-xs__gutter-before {
						// padding-left: nth($grid-space-units, 1);
					}
					.g-xs__gutter-after {
						// padding-right: nth($grid-space-units, 1);
					}
					.g-sm__gutter-before {
						// padding-left: nth($grid-space-units, 2);
					}
					.g-sm__gutter-after {
						// padding-right: nth($grid-space-units, 2);
					}
				}

				@if $direction-output and $sizing-output {
					.g-xs__gutter-xs {
						// padding-left: nth($grid-space-units, 1);
						// padding-right: nth($grid-space-units, 1);
					}
					.g-xs__gutter-xs {
						// padding-left: nth($grid-space-units, 1);
						// padding-right: nth($grid-space-units, 1);
					}
					.g-xs__gutter-xs-before {
						// padding-left: nth($grid-space-units, 1);
					}
					.g-xs__gutter-xs-before {
						// padding-left: nth($grid-space-units, 1);
					}
					.g-xs__gutter-xs-after {
						// padding-right: nth($grid-space-units, 1);
					}
					.g-xs__gutter-xs-after {
						// padding-right: nth($grid-space-units, 1);
					}
					// Other breakpoints
					// .g-<sm>.....
					// ...
				}
			}

			//
			// !! `$bp-output: false`
			//

			@if not $bp-output {

				@if (not $direction-output) and $sizing-output {

					@include b($block-class-name) {
						@include e($gutter-class-name) {
							@for $i from 1 through $length {
								@include m(nth($space-unit-class-names, $i)) {
									padding-left: nth($grid-space-units, $i);
									padding-right: nth($grid-space-units, $i);
								}
							}
						}
					}
				}

				@if $sizing-output and $direction-output {

					// .g__gutter-xs, .g__gutter-sm, .g__gutter-md ...
					@include b($block-class-name) {
						@include e($gutter-class-name) {
							@for $i from 1 through $length {
								@include m(nth($space-unit-class-names, $i)) {
									padding-left: nth($grid-space-units, $i);
									padding-right: nth($grid-space-units, $i);
								}
							}
						}
					}

					// .g__gutter-xs-before,  .g__gutter-sm-before,  .g__gutter-md-before, ...
					@include b($block-class-name) {
						@include e($gutter-class-name) {
							@for $i from 1 through $length {
								@include m(nth($space-unit-class-names, $i) + '-' + nth($direction-class-names, 1)) {
									padding-left: nth($grid-space-units, $i);
									// padding-right: nth($grid-space-units, $i);
								}
							}
						}
					}

					// .g__gutter-xs-after,  .g__gutter-sm-after,  .g__gutter-md-after, ...
					@include b($block-class-name) {
						@include e($gutter-class-name) {
							@for $i from 1 through $length {
								@include m(nth($space-unit-class-names, $i) + '-' + nth($direction-class-names, 2)) {
									padding-right: nth($grid-space-units, $i);
								}
							}
						}
					}
				}
				@if not $sizing-output {

					@error ' `bp-output == false` and `sizing-output == false` are invalid settings of grid configuration. Consider using `$values == 'space-unit-fallback'` ';

				}
			}
		}

	} @else {

		@error '`grid-space-units` function is not existing';

	}
}

@include gutters($grid);
